@page "/Questions"
@using AskAHuman.Services.Interfaces
@using DataBaseLayer.DTOs
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject IAuthenticationService AuthenticationService
@inject IChatService ChatService
@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStorage

<PageTitle>Questions</PageTitle>

<h1>Questions</h1>

<MudButton Class="my-3" Variant="Variant.Filled" Color="Color.Primary" hidden="@(AuthenticationService.AuthenticatedUser is null)" OnClick="@(() => NavigationManager.NavigateTo("/Questions/Create"))">Create New Question</MudButton>
<ChatCards Chats="@(currentChats)"/>

@code {
    private List<ChatCardDTO> currentChats = new();

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationService.AuthenticatedUser is null)
        {
            await AuthenticationService.AuthenticateViaLocalStorage(ProtectedLocalStorage);
        }
        
        currentChats = ChatService.GetUnansweredChatsAsCards();
    }
}