@mixin wrapped-header {
    word-wrap: break-word;
    white-space: normal;
}

html, .mud-layout, .mud-main-content {
    height: 100vh;

    & > .mud-container {
        height: 100vh;

        & > .mud-grid {
            height: 87vh;
        }
    }
}

.mud-card-header {
    display: block;
    
    h2 {
        @include wrapped-header;
    }
}

p {
    overflow-wrap: break-word;
}


.mud-paper {
    h1 {
        @include wrapped-header;
    }

    p {
        overflow-wrap: break-word;
    }
}

.preserve-white-space {
    white-space: pre-wrap
}

.max-width {
    max-width: 70%;
}

.author {
    font-weight: bold;
}

.chat-box {
    display: flex;
}

#you-message {
    text-align: right;
}

#chat-messages {
    max-height: 50vh;
    overflow-y: auto;
}